{% extends "AppBackOfficeBundle::layout.html.twig" %}
{% block body %}
	{{ parent()}}
    <h3 class="card-title m-t-20">{{ 'GENERAL_DATA' | trans }}</h3>
    <hr>
    {{ render(controller('App\\BackOfficeBundle\\Controller\\ArticlesController::getAction',{ id: id})) }}
{% endblock body %}
